{% extends "base.html" %}
{% block title%} Read{% endblock %}
<html>
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>User ID</th>
        </tr>
        {% for x in results %}
            <tr>
                <td>{{ x.Name }}</td>
                <td>{{ x.Age }}</td>
                <td>{{ x.user_id }}</td>
                <td> 
                    <form action="/update/{{x.id}}" method='GET'>
                        <input type="submit" value="UPDATE">
                    </form>
                </td>
                <td>
                    <form action="/delete/{{x.id}}" method='POST'>
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
</html>